build
*.DS_Store
*.vscode
*.json
saved_results/
**/__pycache__/
*.egg-info/
*.png
dist/
data/demo_data
data/**
# Data
!data/toy_time_series/
!data/toy_time_series/**
saved_params/*
!saved_params/benchmark_10_LL.pkl

# Docs
docs/_build/*
!docs/_build/html/

# Figures
!saved_results/time_series_toy.png
!docs/_static/**
