build
*.DS_Store
*.vscode
*.json
saved_results/
saved_params/
**/__pycache__/
*.egg-info/
*.png
dist/
data/demo_data
data/benchmark_data/

# Docs
docs/_build/*
!docs/_build/html/

# Figures
!saved_results/time_series_toy.png
!docs/_static/**

# Metadata 
!examples/benchmark/BM_metadata.json
